In [1]:
# Q1.write a program to accept percentage from the user and display the grade according to the foloowing criteria.

In [2]:
marks = int(input('Enter your marks'))
if marks > 90 :
    print('Grade A')
elif marks>80 and marks<90 :
    print('Grade B')
elif marks >= 60 and marks <=80 :
    print('Grade C')
else :
    print('Grade D')

Enter your marks 99

Grade A

In [3]:
# Q2.Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria.

In [4]:
cost_price = int(input('Enter cost price'))
if cost_price > 100000 :
    print('15% Tax')
elif cost_price >= 50000 and cost_price <= 100000 :
    print('10% Tax')
else :
    print('5% Tax')

Enter cost price 500000

15% Tax

In [5]:
#Q3.Accept any city from the user and display monuments of that city.

In [6]:
city = input('Enter city')
if city == 'Delhi' :
    print(' Red Fort')
elif city == 'Agra' :
    print(' Taj mahal')
elif city == 'Jaipur' :
    print(' jal mahal')

Enter city Agra

 Taj mahal

In [7]:
# Q4.check how many times a given number can be divided by 3 before it is less than or equal to 10

In [8]:
number = int(input("Enter a number"))
for i in range(1, number):
    if number <= 10:
        break
    number /= 3
    print(i)

Enter a number 120

1
2
3

In [9]:
#Q5.why and when to use while loop in python give a detailed description with example.

In [10]:
# A while loop in Python is used when you want to repeatedly execute a set of statements as long as a certain condition is true.
# example :- When we print the sum of natural number from 1 to 10...
a = 1
sum = 0
while a <= 10 :
    sum = sum + a
    a = a+1 
print(sum)

55

In [11]:
#Q6. Use nasted while loop to print 3 different pattern.

In [12]:
rows = 1
while rows <= 5:
    columns = 1
    while columns <= rows:
        print("*", end=" ")
        columns += 1
    print()
    rows += 1

*
* *
* * *
* * * *
* * * * *

In [13]:
for rows in range(1, 6):
    for columns in range(1,rows+1):
        print("*", end='   ')
    print()

*
*   *
*   *   *
*   *   *   *
*   *   *   *   *

In [14]:
for rows in range(5, 0, -1):
    for columns in range(1, rows + 1):
        print("*", end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [15]:
# Reverse a while loop to display numbers from 10 to 1

In [16]:
a = 10 
while a >= 1 :
    print(a)
    a = a-1

10
9
8
7
6
5
4
3
2
1